<div id="summary" class="section panel panel-primary">
  <div class="loader-overlay">
    <div class="loader-overlay" *ngIf="!resourceLoaded">
      <div>
        <mat-progress-bar style="margin:0 auto;" mode="indeterminate"></mat-progress-bar>
      </div>
    </div>
    
    <div class="container">
      <div class="panel-heading"><span class="hdr">Keyword List</span></div>
      <table mat-table class="datatable" [dataSource]="(allKeywords)" matSort>
        <tr>
          <ng-container matColumnDef="Keyword1">
            <th *matHeaderCellDef class="tblCellHalf">Keyword</th>
            <td *matCellDef="let item" class="tblCellHalf"><a routerLink="/keyform/{{item.kid}}">{{item.Keyword1}}</a></td>
          </ng-container>
          <ng-container matColumnDef="Description">
            <th *matHeaderCellDef class="tblCellHalf">Description</th>
            <td *matCellDef="let item" class="tblCellHalf"><a routerLink="/keyform/{{item.kid}}">{{item.Description}}</a></td>
          </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <tr class="datarow" mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
  </div>
